@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color: #484848;
  font-family: "Poppins", sans-serif;
}


#__next {
height: 100%;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: initial;
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.bm-menu-wrap {
  width: 300px;
  background: #373a47;
}

.homepage-slider.slick-slider {

}

.homepage-slider .slick-dots {
  @apply bottom-12;
}

.homepage-slider .slick-dots .slick-active {
  @apply rounded-full border-custom-gray bg-custom-gray;
}

.homepage-workfields-slider .slick-dots .slick-active .slick-dot-item,
.homepage-video-slider .slick-dots .slick-active .slick-dot-item {
  @apply rounded-full border-custom-red bg-custom-red;
}
.homepage-workfields-slider .slick-dots {
  @apply bottom-4;
}

.homepage-video-slider .slick-dots {
  @apply -bottom-12;
}
